@font-face {
  font-family: "Akrobat";
  src: url('./fonts/Akrobat-Regular.woff2') format('woff2'),
       url('./fonts/Akrobat-Regular.woff') format('woff'),
       url('./fonts/Akrobat-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: "Akrobat";
  src: url('./fonts/Akrobat-Black.woff2') format('woff2'),
       url('./fonts/Akrobat-Black.woff') format('woff'),
       url('./fonts/Akrobat-Black.ttf') format('truetype');
  font-weight: bold;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Akrobat', Akrobat, sans-serif;
  font-weight: normal;
  --main-color: #b71833;
}

h1 {
  text-align: center;
  font-size: 72px;
}

.bold {
  font-weight: bold;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.left {
  width: 75%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.image-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.image {
  object-fit: cover;
  height: 100%;
  max-height: 1024px;
  width: 100%;
}

.socials {
  height: 15%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.social {
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: space-between;
  font-size: 28px;
}

.social-icon {
  height: 100%;
  margin: 0 15px;
}


.right {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-left: 25px solid var(--main-color);
}

.box {
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.logo {
  width: 100%;
}